@import "../../styles/varibles";

#terms-header {
  padding: 130px 0 70px 0;
  background-image: radial-gradient(circle at -6% -9%, #317bda, #43c8cd);

  .container {
    padding: 0 295px;

    .title {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      line-height: 43px;
    }
  }
}

#terms-notices {
  padding-bottom: 70px;

  .container {

    .side-container {
      padding-left: 10px;
      a {
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: $grey;
      }
      .subtitle {
        font-weight: 700;
        margin-bottom: 30px;
      }
      .item-title {
        color: $grey;
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        ul {
          display: none;
        }
        margin-right: 20px;
        padding: 15px 60px 15px 10px;
        border-bottom: 1px solid $pale-grey;
        line-height: 11px;
      }
    }

    .text-container {
      margin-bottom: -20px;
      margin-right: -4px;
      .line {
        margin-right: 18px;
      }
      .ls-none {
        list-style-type: none;
      }
      .text {
        margin-bottom: 15px;
        b {
          font-weight: bold;
        }
      }
      #main-subtitle {
        margin-bottom: 10px;
        line-height: 28px;
      }
      .subtitle {
        font-weight: 500;
        margin-bottom: 20px
      }
      .item {
        margin-bottom: 30px;
        .lowar-roman {
          position: absolute;
          left: 25px;
        }
        ul {
          padding-left: 25px;
          margin-bottom: 20px;
          li {
            padding-left: 20px;
            ul {
              padding-left: 15px;
              margin-bottom: 17px;
              li {
                padding-left: 5px;
              }
            }
          }
        }
        a {
          text-decoration: none;
          font-size: 13px;
          line-height: 18px;
          color: #4990e2;
        }

      }


      .ol-list {
        padding-left: 40px;
      }
      .chain-icon {
        margin-top: 10px;
        margin-bottom: 25px;
      }
      .title {
        margin-bottom: 30px;
        font-weight: bold;
        line-height: 22px;
      }
    }
    .title {
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 30px;
    }


    .opened {
      color: $grey;
      background-color: $pale-grey;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      ul {
        display: block;
        li {
          text-transform: none;
          color: $dark-sky-blue;
          font-size: 12px;
          line-height: 15px;
          padding: 0 10px 15px 0;
        }
      }
      margin-left: -15px;
      padding: 15px 10px;
      border-bottom: 1px solid $pale-grey;
      line-height: 11px;
    }
  }
}

