@import "../../styles/varibles";

#terms-header {
  padding: 130px 0 70px 0;
  background-image: radial-gradient(circle at -6% -9%, #317bda, #43c8cd);
  
  .container {
    padding: 0 295px;

    .title {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      line-height: 43px;
    }
  }
}

#terms-notices {
  padding-bottom: 70px;

  .container {

    .title {
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 30px;
    }

    .subtitle {
      font-weight: 700;
      margin-bottom: 30px;
    }

    .item-title {
      margin-left: -15px;
      padding: 15px 10px;
      //background-color: $pale-grey-two;
      border-bottom: 1px solid $pale-grey;
      line-height: 11px;
      a {
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: $grey;
      }
    }
  }
}

.text-container {
  margin-bottom: -20px;
  margin-left: -45px;
  padding-right: 31px;
  
  .ls-none {
    list-style-type: none;
  }
  
  .item {
    margin-bottom: 30px;
    
    ol {
      list-style-type: lower-roman;
    }

    ol, ul {
        padding-left: 25px;
      margin-bottom: 20px;
      li {
        padding-left: 20px;
        ul {
          padding-left: 15px;
          margin-bottom: 17px;
          li {
            padding-left: 5px;
          }
        }
      }
    }
  }

  .line {
    margin-right: 18px;
  }
  .lowar-roman {
    position: absolute;
    left: -20px;
  }
  .ol-list {
    padding-left: 40px;
  }
  .chain-icon {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .title {
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 22px;
  }
  #main-subtitle {
    margin-bottom: 10px;
    line-height: 28px;
  }
  .subtitle {
    margin-bottom: 20px
  }
  .text {
    b {
      font-weight: bold;
    }
    margin-bottom: 15px;
  }
}
