.text-field {
    &--fixed {
        > :nth-child(5) {
            color: #fff !important;
            margin-top: 4px;

            label {
                font-size: 13.33px !important;
            }

            &:before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid #f4566a;
                top: -3px;
                left: 2px;
            }
        }
        
        > input::-ms-clear {
            display: none;
        }
    }
    > :nth-child(4) {
        color: #fff !important;
        margin-top: 4px;

        label {
            font-size: 13.33px !important;
        }

        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #f4566a;
            top: -3px;
            left: 2px;
        }
    }
}
