$first-break: 636px;

#registration {
    .head-block {
        background-image: radial-gradient(circle at -6% -9%, #317bda, #43c8cd);
        padding: 130px 0;
        @media (max-width: $first-break) {
            padding: 110px 0 50px 0;
        }

        &__title {
            font-size: 36px;
            font-weight: 700;
            line-height: 43px;
            @media (max-width: $first-break) {
                font-size: 28px;
            }
        }
    }

    .main-block {
        max-width: 650px;
        margin: -60px auto 80px;
        border-radius: 3px;
        box-shadow: 1px 1px 15px 0 #eaeff3;
        border: solid 1px #eaeff3;
        color: black;

        @media (max-width: $first-break) {
            border-radius: 0;
            box-shadow: none;
            margin: 0 auto;
        }
        
        .form {
            background-color: #fff;
            padding: 60px 50px;

            @media (max-width: $first-break) {
                padding: 50px 20px;
            }

            .btn {
                margin-top: 45px;
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                font-family: 'Roboto';
                border-radius: 3px;
                background-color: #317bda;
              }
            
            &:after {
                content: '';
                clear: both;
                display: block;
            }

            &:last-child {
                background-color: #f5f7f9;
                border-top: 1px solid #eaeff3;
                @media (max-width: $first-break) {
                    border-top: none;
                }
            }
            
            &__title {
                font-family: MuseoSans;
                font-size: 20px;
                font-weight: bold;
                line-height: 1;
                text-align: left;
                color: #317bda;
                margin-bottom: 50px;
            }

            &__row {
                &:after {
                    content: '';
                    clear: both;
                    display: block;
                }
                .form__field {
                    float: left;
                    @media (min-width: $first-break) {
                        &:last-child {
                            float: right;
                        }
                    }
                }
                &--post {
                    width: calc(50% + 25px);
                    @media (max-width: $first-break) {
                        width: 100%;
                    }
                }
                &--phone {
                    width: calc(50% - 25px);
                    @media (max-width: $first-break) {
                        width: 100%;
                    }
                    >:first-child {
                        width: 77px;
                    }
                    >:last-child {
                        width: calc(100% - 87px);
                        float: right;
                    }
                }
            }



            &__field {
                width: calc(50% - 25px);
                font-family: Roboto;
                label {
                    margin-bottom: 10px;
                }
                @media (max-width: $first-break) {
                    width: 100%;
                }
                &--post {
                    width: 100px;
                }
                &--code {
                    width: calc(100% - 120px);
                    float: right !important;
                }
            }

            .radio-group {
                font-size: 18px;
                line-height: 24px;
                &__title {
                    float: left;
                    color: #5b7289;
                    margin-right: 30px;
                }
                &__buttons {
                    float: left;
                }
                &:after {
                    content: '';
                    clear: both;
                    display: block;
                }
            }
        }
    }
}
