@import '../../styles/varibles';

#header-our-products {
  padding: 130px 0 90px 0;
  background-image: url('../../images/OurProducts/future-our-products.png'), radial-gradient(circle at -6% -9%, #317bda, #43c8cd); background-repeat: no-repeat;
  background-size: cover;
  
  .container {
    padding: 0 295px;

    .title {
      margin-bottom: 30px;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      line-height: 43px;
    }

    .subtitle {
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      font-family: 'MuseoSans';
    }
  }
}

#trad-inn-prod {
  padding-top: 90px;
  padding-bottom: 90px;

  .container {
    margin-top: 52px;

    .item {
      padding-bottom: 30px;
      background-image: linear-gradient($grey, $grey), radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
      border-radius: 3px;

      .last-icon {
        margin-bottom: 6px;
      }

      .btn {
        margin-top: 7px;

        &.btn-disabled {
          opacity: 0.2;
          cursor: default;
          background-color: #7B8EA0;
          color: $black;
          
          &:hover {
            color: $black;
            background-color: #7B8EA0;
          }
        }
      }

      .text-container {
        padding: 0 15px;
      }

      .title {
        font-weight: 700;
        margin-top: -10px;
        margin-bottom: 15px;
      }
    }
  }
  .products-carousel {
    display: none;
  }

  @media screen and (max-width: $break-mobile) {
    padding-right: 0;
    padding-left: 0;
    .products-carousel {
      display: block;
    }
    .only-desktop {
      display: none;
    }
    .container {
      padding-right: 0;
      padding-left: 0;
      .item {
        margin: 0;
      }
    }
  }
}

#our-features {
    padding-top: 70px;
    padding-bottom: 111.4px;

    .header {
      position: relative;
    }

    .title {
      font-size: 36px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 50px;
    }

    .subtitle {
      font-weight: 300;
      margin-bottom: 50px;
      font-size: 26px;
      font-family: 'MuseoSans';
    }

    .item {
      padding-top: 40px;
      padding-bottom: 40px;
      box-shadow: 0 0 10px 0 $pale-grey;

      .icon {
        height: 70px;
        line-height: 70px;
        margin-bottom: 30px;
      }

      .text {
        font-size: 14px;
        b {
          font-weight: 700;
        }
      }
    }
}

#prod-in-dev {
  padding: 70px 0 90px 100px;
  background-image: url('../../images/OurProducts/product-in-development.png'), radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
  background-repeat: no-repeat;
  background-position: right;

  button {
    font-weight: 500;
  }

  .container {
    margin-left: -15px;

    .items {
      margin-bottom: 30px;

      .title {
        margin-left: 30px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .checkbox {
        float: left;
        margin-top: -3px;
      }

      .text {
        margin-left: 30px;
        padding-right: 80px;
      }
    }
  }
}


@media screen and (max-width: 992px) {
  #header-our-products {
    .container {
      padding: 0;
    }
  }

  #trad-inn-prod {
    .item {
      margin-bottom: 20px;

      .icon {
        img {
          width: 100%
        }
      }
    }
  }

  #our-features {
    .item {
      margin-bottom: 30px;
    }
  }
}
