@import '../../styles/varibles';

#header-our-products {
  position: relative;
  padding-top: 140px;
  padding-bottom: 70px;
  background-color: $dark-sky-blue;
  background-image: url('../../images/OurProducts/future-our-products.png'), radial-gradient(circle at -6% -9%, #317bda, #43c8cd); background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .react-simple-parallax-bg {
    position: absolute;
    background-image: url('../../images/OurProducts/future-our-products.png');
    height: 100%;
  }

  .parallax {
    position: relative !important;
    top: unset !important;
    right: unset !important;
  }

  @media (min-width: 992px) {
    background-image: radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
  }
  
  @media screen and (max-width: 992px) {
    .react-simple-parallax-bg {
      background-image: none;
    }  
  }
  
  .container {
    padding: 0;

    .title {
      margin-bottom: 30px;
      width: 100%;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      line-height: 43px;
    }

    .subtitle {
      max-width: 460px;
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      font-family: 'MuseoSans';
    }
  }
}

#trad-inn-prod {
  padding-top: 90px;
  padding-bottom: 90px;

  .title {
    margin-bottom: 70px;
  }

  .only-desktop > .row {
    margin-left: -35px;
    margin-right: -35px;
  }

  .container {
    margin-top: 52px;

    .item-box {
      width: 260px;
      padding: 20px;
    }

    .item {
      position: relative;
      padding-top: 130px;
      min-height: 320px;
      background-image: linear-gradient($grey, $grey), radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
      border-radius: 3px;
      box-sizing: border-box;

      .icon-box {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        
        .icon {
          width: 100%;
          transition: 0.4s ease;
          
          &:hover {
            transform: scale(1.08);
          }

          img {
            width: 100%;
            height: 140px;
          }
        }
      }

      .btn {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        cursor: pointer;
      }

      .text-container {
        padding: 0 15px;
      }

      .title {
        font-weight: 700;
        margin-top: -10px;
        margin-bottom: 15px;
      }

      .trapezoid {
        display: none;
        position: absolute;
        top: -2px;
        right: -2px;
        width: 82px;
        height: 82px;
        overflow: hidden;

        &:before {
          position: absolute;
          top: 12px;
          right: -53px;
          line-height: 30px;
          letter-spacing: 1.6px;
          font-weight: 500;
          font-size: 13px;
          transform: rotateZ(45deg);
          border-bottom: 30px solid $aqua-marine;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent;
          height: 0;
          width: 160px;
          z-index: 9;
          content: 'NEW';
        }
      }

      &.soon {
        background-image: linear-gradient($grey, $grey), radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
        
        .btn {
          opacity: 0.2;
          background-color: #fff;
          color: $black;
          cursor: default;
        }
      }

      &.new {
        background-image: radial-gradient(circle at -6% -9%, rgb(49, 123, 218), rgb(67, 200, 205));
        
        .trapezoid {
          display: block;
        }

        .btn {
          opacity: 1;
          background-color: $aqua-marine;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  .products-carousel {
    display: none;
  }

  .filter-box {
    max-width: 744px;
    margin: 0 auto;
    padding: 0;
    .filter {
      background-color: rgba(245, 247, 249, 0.5);
      border-top: 1px solid #eaeff3;
      border-bottom: 1px solid #eaeff3;
      line-height: 39px;
      vertical-align: middle;
      display: inline-block;
      &:last-child {
        float: right;
      }
      .title {
        color: #5b7289;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: left;
        display: inline-block;
        margin: 0 10px;
        padding: 0;
      }
      &-item {
        padding: 0;
        border: 0;
        display: inline-block;
        margin: 0 20px;
        color: #5b7289;
        font-size: 14px;
        letter-spacing: 0.6px;
        text-align: center;
        background: transparent;
        transition: transform 0.2s ease-in-out;
        outline: none;
        cursor: pointer;
        &.active {
          color: #317bda;
          font-size: 16px;
          transform: scale(1);
          font-weight: 500;
          letter-spacing: 0.6px;
          border-bottom: 2px solid #317bda;
          transition: transform 0.2s ease-in-out;
        }
      }
      .select-field {
        float: right;
        margin: -3px 20px 0;
        margin-bottom: -30px;
        min-width: 110px;
      }
    }
  }

  .mobile-select, .only-mobile {
    display: none;
  }

  .desktop-select {
    display: inline-block;
  }

  .no-results {
    color: #5b7289;
    text-align: center;
    text-transform: uppercase;
  }

  @media screen and (max-width: 768px) {

    .filter-box {
      .mobile-select {
        display: block;
      }
      .filter {
        margin-bottom: 10px;
        width: calc(100% - 40px);
        margin: 0 20px;
        &:last-child {
          margin-top: 10px;
        }
        .mobile-select, select {
          float: right;
        }
        .title {
          margin-right: 0;
        }
        &-item {
          &.active {
          }
        }
        select {
          height: 40px;
          width: 100px;
        }
      }
      .desktop-select {
        display: none;
      }
    }
    
    .filter-box .filter .select-field {
      width: 100px;
    }
  }

  @media screen and (max-width: $break-mobile) {
    padding: 50px 0 70px 0;
    .only-mobile {
      display: block;
    }
    h2.title {
      margin: 0 0 30px 0;
      font-size: 28px;
    }
    .products-carousel {
      display: block;
    }
    .only-desktop {
      display: none;
    }
    .container {
      padding-right: 0;
      padding-left: 0;
      .item {
        margin: 0;
      }
    }
  }
}

#our-features {
    padding-top: 70px;
    padding-bottom: 111.4px;

    .header {
      position: relative;
    }

    .title {
      font-size: 36px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 50px;
    }

    .subtitle {
      font-weight: 300;
      margin-bottom: 50px;
      font-size: 26px;
      font-family: 'MuseoSans';
    }

    .item {
      padding-top: 40px;
      padding-bottom: 40px;
      max-height: 205px;
      box-shadow: 0 0 10px 0 $pale-grey;

      .icon {
        height: 60px;
        line-height: 60px;
        margin-bottom: 30px;

        img {
          height: 100%;
        }
      }

      .text {
        font-size: 14px;
        b {
          font-weight: 700;
        }
      }
    }
}

#prod-in-dev {
  padding: 70px 15px 90px;
  background-image: url('../../images/OurProducts/product-in-development.png'), radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  button {
    font-weight: 500;
  }

  .container {
    margin: 0 auto;
    @media screen and (max-width: $break-mobile) {
      padding-left: 0;
    }

    > .title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
      @media screen and (max-width: $break-mobile) {
        font-size: 28px;
      }
    }
  
    > .subtitle {
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 50px;
      @media screen and (max-width: $break-mobile) {
        font-size: 20px;
        font-weight: 300;
      }
    }

    .container {
      padding-left: 0;
  
      .item {
        margin-bottom: 30px;
        opacity: .6;
        cursor: pointer;
  
        .title {
          margin-left: 30px;
          font-weight: 700;
          margin-bottom: 10px;
        }
  
        .checkbox {
          float: left;
          margin-top: -3px;
          width: 20px;
          height: 20px;
          background: url('../../images/OurProducts/circle.png') center no-repeat;
        }
  
        .text {
          margin-left: 30px;
          padding-right: 80px;
          @media screen and (max-width: $break-mobile) {
            padding-right: 15px;
          }
        }

        &.active, &:hover {
          opacity: 1;
        }

        &.active {
          .checkbox {
            background: url('../../images/OurProducts/icon-checkbox.svg') center no-repeat;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 992px) {
  #header-our-products {
    .container {
      padding: 0 -15px;
    }
  }

  #our-features {
    .item {
      margin-bottom: 30px;
    }
  }
}
