@import '../../styles/varibles';

#header-our-products {
  padding: 0;
  background-image: url('../../images/OurProducts/future-our-products.png'), radial-gradient(circle at -6% -9%, #317bda, #43c8cd); background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 992px) {
    background-image: radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
  }

  .react-parallax  {
    overflow: hidden;
    padding-bottom: 63px;
  }

  .header-space {
    padding-bottom: 140px;
  }
  
  .container {
    padding: 0;

    .title {
      margin-bottom: 30px;
      width: 100%;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      line-height: 43px;
    }

    .subtitle {
      max-width: 460px;
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      font-family: 'MuseoSans';
    }
  }
}

#trad-inn-prod {
  padding-top: 90px;
  padding-bottom: 90px;

  .title {
    margin-bottom: 70px;
  }

  .container {
    margin-top: 52px;

    .item {
      padding-bottom: 30px;
      margin-bottom: 30px;
      min-height: 320px;
      background-image: linear-gradient($grey, $grey), radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
      border-radius: 3px;
      overflow: hidden;
      .last-icon {
        margin-bottom: 6px;
      }

      .icon {
        img {
          width: 100%
        }
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
      }
      .icon:hover {
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
      }

      .btn {
        margin-top: 7px;

        &.btn-disabled {
          opacity: 0.2;
          cursor: default;
          background-color: #7B8EA0;
          color: $black;

          &:hover {
            color: $black;
            background-color: #7B8EA0;
          }
        }
      }

      .text-container {
        padding: 0 15px;
      }

      .title {
        font-weight: 700;
        margin-top: -10px;
        margin-bottom: 15px;
      }
    }
  }
  .products-carousel {
    display: none;
  }

  .filter-box {
    max-width: 744px;
    margin: 0 auto;
    padding: 0;
    .filter {
      background-color: rgba(245, 247, 249, 0.5);
      border-top: 1px solid #eaeff3;
      border-bottom: 1px solid #eaeff3;
      line-height: 39px;
      vertical-align: middle;
      display: inline-block;
      &:last-child {
        float: right;
      }
      .title {
        color: #5b7289;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: left;
        display: inline-block;
        margin: 0 20px;
        padding: 0;
      }
      &-item {
        padding: 0;
        border: 0;
        display: inline-block;
        margin: 0 20px;
        color: #5b7289;
        font-size: 14px;
        letter-spacing: 0.6px;
        text-align: center;
        background: transparent;
        transition: transform 0.2s ease-in-out;
        outline: none;
        cursor: pointer;
        &.active {
          color: #317bda;
          font-size: 16px;
          transform: scale(1.1);
          font-weight: 500;
          letter-spacing: 0.6px;
          border-bottom: 2px solid #317bda;
          transition: transform 0.2s ease-in-out;
        }
      }
      .select-field {
        float: right;
        margin: 0 20px;
        margin-bottom: -30px;
      }
    }
  }

  .mobile-select, .only-mobile {
    display: none;
  }

  .desktop-select {
    display: inline-block;
  }

  .no-results {
    color: #5b7289;
    text-align: center;
    text-transform: uppercase;
  }

  @media screen and (max-width: $break-mobile) {
    padding: 50px 0 70px 0;
    .only-mobile {
      display: block;
    }
    h2.title {
      margin: 0 0 30px 0;
      font-size: 28px;
    }
    .products-carousel {
      display: block;
    }
    .only-desktop {
      display: none;
    }
    .container {
      padding-right: 0;
      padding-left: 0;
      .item {
        margin: 0;
      }
    }

    .filter-box {
      .mobile-select {
        display: block;
      }
      .filter {
        margin-bottom: 10px;
        width: calc(100% - 40px);
        margin: 0 20px;
        &:last-child {
          margin-top: 10px;
        }
        .mobile-select, select {
          float: right;
        }
        .title {
          margin-right: 0;
        }
        &-item {
          &.active {
          }
        }
        select {
          height: 40px;
          width: 100px;
        }
      }
      .desktop-select {
        display: none;
      }
    }
  }
}

#our-features {
    padding-top: 70px;
    padding-bottom: 111.4px;

    .header {
      position: relative;
    }

    .title {
      font-size: 36px;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 50px;
    }

    .subtitle {
      font-weight: 300;
      margin-bottom: 50px;
      font-size: 26px;
      font-family: 'MuseoSans';
    }

    .item {
      padding-top: 40px;
      padding-bottom: 40px;
      max-height: 205px;
      box-shadow: 0 0 10px 0 $pale-grey;

      .icon {
        height: 60px;
        line-height: 60px;
        margin-bottom: 30px;

        img {
          height: 100%;
        }
      }

      .text {
        font-size: 14px;
        b {
          font-weight: 700;
        }
      }
    }
}

#prod-in-dev {
  padding: 70px 0 90px 0;
  background-image: url('../../images/OurProducts/product-in-development.png'), radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
  background-repeat: no-repeat;
  background-position: right;

  button {
    font-weight: 500;
  }

  .container {
    margin: 0 auto;
    @media screen and (max-width: $break-mobile) {
      padding-left: 0;
    }
    > .title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
      @media screen and (max-width: $break-mobile) {
        font-size: 28px;
      }
    }
  
    > .subtitle {
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 50px;
      @media screen and (max-width: $break-mobile) {
        font-size: 20px;
        font-weight: 300;
      }
    }

    .container {
      
          padding-left: 0;
      
          .items {
            margin-bottom: 30px;
      
            .title {
              margin-left: 30px;
              font-weight: 700;
              margin-bottom: 10px;
            }
      
            .checkbox {
              float: left;
              margin-top: -3px;
            }
      
            .text {
              margin-left: 30px;
              padding-right: 80px;
              @media screen and (max-width: $break-mobile) {
                padding-right: 15px;
              }
            }
          }
        }
  }
}


@media screen and (max-width: 992px) {
  #header-our-products {
    .container {
      padding: 0 -15px;
    }
  }

  #our-features {
    .item {
      margin-bottom: 30px;
    }
  }
}
