@import 'varibles';
// @import "media-queries";

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .section {
    padding: 50px 0;
    .title {
      font-size: 28px;
    }
    .subtitle {
      font-size: 20px;
    }
    .item-title {
      font-size: 16px;
    }
    .item-text {
      display: none;
    }
  }

  #header {
    padding-bottom: 15px;
    .container{
      padding-left: 20px;
      padding-right: 20px;
      h2{
        font-size: 24px;
      }
      h4{
        font-size: 18px;
        margin-bottom: 20px;
      }
      .logo {
        margin-bottom: 35px;
      }
      .imac, .logo {
        display: block;
      }
    }
  }

  .disclaimer {
    .text {
      font-size: 10px;
    }
  }

  #advantages {
    padding-left: 10px;
    padding-right: 10px;
    .subtitle{
      margin-bottom: 30px;
    }
    .container {
      margin-bottom: 0;
      .item {
        text-align: center;
        padding-right: 15px;
        padding-left: 40px;
        .item-icon {
          float:left;
        }
      }
    }
  }

  #explanation {
    #label {
      .label-icon {
        padding: 20px auto 25px auto;
      }

      .text-container {
        padding: 20px 30px 20px;

        .item-text {
           display: block;
           margin-top: 11px;
         }
      }
    }
    .container {
      .item {
        border-left: 42px solid $pale-grey-two;
        border-right: 42px solid $pale-grey-two;
      }
      .item-title {
        font-size: 20px;
      }

    }
  }
  #robust-api {
    padding: 100px 20px 50px 20px;

    .item-title {
      display: block;
    }
    .item-text {
      display: block;
    }
    .link {
      margin-bottom: 30px;
    }
  }

  #inn-products {
    .container {
      .item {
        .item-text {
          margin-top: 50px;
        }
        .item-icon {
          padding: 0 26px ;
          float: left;
          #fourth-icon {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  #explanation {
    #label {
      background-color: $turquoise;
      .label-icon {
        padding: 20px 0 25px 0;
        margin: 0 auto;
      }
      .item-title {
        text-align: center;
      }
      .item-text {
        text-align: center;
      }
    }
    .container {
      .item {
        padding: 50px 50px;
      }
    }
  }

  #robust-api {
    padding: 100px 20px 50px 20px;
    .item-text {
      display: block;
    }
    .item-title {
      display: block;
    }
    .link {
      margin-bottom: 30px;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  #advantages {
    .container{
      .item {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
  #robust-api {
      padding: 100px 20px 50px 20px;
      .item-text {
        display: block;
      }
      .link {
        margin-bottom: 30px;
      }
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
