/* Код для подключения шрифта в /css/stylename.css */

	@font-face {
			font-family: "MuseoSans";
			src: url("../../fonts/museosans/MuseoSansRegular/MuseoSansRegular.eot");
			src: url("../../fonts/museosans/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/museosans/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
			url("../../fonts/museosans/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
			font-style: 400;
			font-weight: 400;
	}

	@font-face {
			font-family: "MuseoSans";
			src: url("../../fonts/museosans/MuseoSansBold/MuseoSansBold.eot");
			src: url("../../fonts/museosans/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/museosans/MuseoSansBold/MuseoSansBold.woff") format("woff"),
			url("../../fonts/museosans/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
			font-style: 700;
			font-weight: 700;
	}

	@font-face {
			font-family: "MuseoSans";
			src: url("../../fonts/museosans/MuseoSansLight/MuseoSansLight.eot");
			src: url("../../fonts/museosans/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/museosans/MuseoSansLight/MuseoSansLight.woff") format("woff"),
			url("../../fonts/museosans/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
			font-style: 300;
			font-weight: 300;
	}

	@font-face {
			font-family: "MuseoSans";
			src: url("../../fonts/museosans/MuseoSansMedium/MuseoSansMedium.eot");
			src: url("../../fonts/museosans/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/museosans/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
			url("../../fonts/museosans/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
			font-style: 500;
			font-weight: 500;
	}

	@font-face {
			font-family: "s";
			src: url("../../fonts/museosans/MuseoSansBlack/MuseoSansBlack.eot");
			src: url("../../fonts/museosans/MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/museosans/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
			url("../../fonts/museosans/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
			font-style: 900;
			font-weight: 900;
	}