@import 'varibles';

body {
  color: $white;
  font-family: 'MuseoSans', Courier New;
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
}

.btn-white {
  background-color: $white;
  a {
    color: $dark-sky-blue;
  }
}

.btn-turquoise {
  background-color: $turquoise;
  a {
    color: $white;
  }
  a:hover {
    color: $white;
    text-decoration: none;
  }
  color: $white;
}

.btn-dark-blue {
  background-color: $dark-sky-blue;
  a {
    color: $white;
    text-decoration: underline;
  }
  a:hover {
    color: $white;
  }
  color: $white;
}

.btn-turquoise:hover {
  background-color: #2db0bb;

}

.btn-dark-blue:hover  {
  background-color: #2f5cb6;
  a {
    text-decoration: none;
  }
}


.text-grey {
  color: $grey;
}

.text-blue {
  color: $dark-sky-blue;
}

.text-turquoise {
  color: $turquoise;
}

.bg-blue {
  background-image: radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
}

.bg-inherit {
  background-color: inherit;
}

.bg-dark-blue {
  background-color: $dark-sky-blue;
}

.bg-turquoise {
  background-color: $turquoise;
}

.bg-pale-grey-two {
  background-color: $pale-grey-two;
}

.bg-light-grey {
  background-image: linear-gradient(to top, rgba(245, 247, 249, 0), $pale-grey-two), linear-gradient($pale-grey-two, $pale-grey-two);
}

.bg-white {
  background-color: $white;
}

.item-text-small {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.64;
  letter-spacing: 1px;
}

.text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: $grey;
}

.section {
  padding: 70px 0;
  .title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }
  .subtitle {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin: 10px 0 50px 0;
  }
  .item-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
    text-align: left;
  }
  .item-text {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
  }
}

//////////////////////////////////////////

//.img-fluid {
//  width: 100%;
//}
//
//.show {
//  display: block;
//}
//
//.hide {
//  display: none;
//}



//.container {
//  margin: 0 auto;
//}
//
//.section {
//  padding: 100px 0;
//
//  & > .title {
//    text-align: center;
//    margin-bottom: 75px;
//
//    h2 {
//      margin: 0;
//      padding: 0;
//      font-size: 42px;
//      font-weight: 400;
//      text-transform: uppercase;
//    }
//  }
//}
//
//.btn {
//  display: block;
//  padding: 0 45px;
//  height: 50px;
//  line-height: 50px;
//  color: #fff;
//  font-weight: 500;
//  text-decoration: none;
//  text-transform: uppercase;
//  cursor: pointer;
//  border-radius: 4px;
//  border: none;
//  background: #fff;
//  box-sizing: border-box;
//}
//
//.img-responsive {
//  width: 100%;
//}
//
//.text-white {
//  color: #fff;
//}
//
//.text-black {
//  color: #333;
//}
//
//
//.cf:after {
//    display: block;
//    clear: both;
//    content: "";
//}