@import 'varibles';

body {
  color: $white;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
  
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  font-family: 'MuseoSans', sans-serif;
}

a {
  color: $dark-sky-blue;
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;

  &:hover {
    color: $dark-sky-blue;
    text-decoration: underline;
  }
}

.container {
  max-width: 1000px;
}

// btn //

.btn {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.btn-white {
  background-color: $white;
  color: $dark-sky-blue !important;
}

.btn-turquoise {
  background-color: $turquoise;
  color: $white;
  &:hover {
    color: $white;
    background-color: $turquoise;
  }
}

.btn-dark-blue {
  background-color: $dark-sky-blue;
  color: $white;
  text-decoration: underline;
  &:hover {
    color: $white;
    background-color: $dark-sky-blue;
  }
}

// btn-end //

// text // 

.text-grey {
  color: $grey;
}

.text-blue {
  color: $dark-sky-blue;
}

.text-turquoise {
  color: $turquoise;
}

// text-end //

// bg //

.bg-blue {
  background-image: radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
}

.bg-gray {
  background: $grey;
}

.bg-inherit {
  background-color: inherit;
}

.bg-dark-blue {
  background-color: $dark-sky-blue;
}

.bg-turquoise {
  background-color: $turquoise;
}

.bg-pale-grey-two {
  background-color: $pale-grey-two;
}

.bg-light-grey {
  background-image: linear-gradient(to top, rgba(245, 247, 249, 0), $pale-grey-two), linear-gradient($pale-grey-two, $pale-grey-two);
}

.bg-white {
  background-color: $white;
}

// bg-end //

.section {
  padding: 70px 0 90px;
  & > .title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 43px;
  }
  & > .subtitle {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin: 10px 0 50px 0;
  }
}

.title {
  font-size: 20px;
  line-height: 20px;
  font-family: 'MuseoSans', sans-serif;
}

.text {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  b {
    font-weight: 500;
  }
}