$fa-font-path: '../../fonts/fontawesome';
@import 'font-awesome';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'normalize';
@import 'media';
@import 'varibles';
@import 'fonts';
@import 'global';

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(247,247,247, .3);

  .logo {
    display: block;
    float: left;
    margin-right: 186px;
    padding: 18px 0 17px;
    width: 89px;

    img {
      width: 100%
    }
  }

  nav {
    float: left;
    overflow: hidden;

    ul {
      margin: 0;
      padding: 0;

      li {
        float: left;
        display: block;
        margin-right: 45px;
        padding: 24px 0 23px;
        height: 100%;
        line-height: 11px;
        list-style: none;

        a {
          color: white;
          font-size: 11px;
          font-weight: 300;
          letter-spacing: 0.9px;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            text-decoration: underline;
          }
          i {
            margin-left: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }

  .nav-buttons {
    float: right;
    padding: 15px 0;

    .btn {
      float: right;
      margin-left: 10px;
      padding-left: 10px;
      padding-right: 10px;
      height: 30px;
      line-height: 30px;
      font-size: 11px;
      font-weight: 500;
      border-radius: 2px;
    }
  }
}

#header {
  padding-top: 140px;
  background-color: $dark-sky-blue;
  background-image: url('../../images/future-homepage.png');
  background-image: url('../../images/future-homepage.png'), radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
  background-size: cover;

  h4 {
    margin: 30px auto 50px auto;
    font-size: 24px;
    font-weight: 500;
  }

  .icon {
    overflow: hidden;
    margin: -40px auto 35px auto;

    img{
      float: right;
    }
  }

  .icon-bottom {
    margin-bottom: 35px;
  }

  .mac-image {
    img {
      max-width: 400px;
    }
  }

  button {
    padding: 13px 20px;
    margin-bottom: 28px;

    &:hover {
      background-color: #2ec0cb;
    }
  }
}

.disclaimer {
  padding: 18px 0;
  font-weight: 400;
  font-size: 12px;
  
  i {
    margin-right: 10px;
  }
  b {
    font-weight: 500;
  }
  a {
    font-size: 12px;
  }
}

#advantages {
  .container {
    .item {
      padding-left: 50px;
      padding-right: 50px;
    }
    margin-bottom: 60px;
    .item-icon {
      margin-top: 30px;
      margin-right: 20px;
    }
    .item-title {
      margin: 30px auto 11px auto;
    }
  }
}

#get-started {
  padding: 90px 0 100px 100px;
  .container {
    margin-left: 0;
    position: relative;
    padding-left: 50px;
    padding-top: 50px;
    .item {
      margin-bottom: 25px;
      .item-title {
        margin-bottom: 8px;
      }
    }
    .line {
       position: absolute;
       background-color: white;
       top: 77px;
       left: 14px;
       height: 257px;
       width: 0;
       border: 1px solid white;
       z-index: 1;
     }
    .circle-container1 {
       position: absolute;
       top: 47px;
       left: 0;
       z-index: 3;
     }
    .circle-container2 {
        position: absolute;
        top: 138px;
        left: 0;
        z-index: 3;
      }
    .circle-container3 {
      position: absolute;
      left: 0;
      top: 227px;
      z-index: 3;
    }
    .circle-container4 {
      position: absolute;
      left: 0;
      top: 334px;
      z-index: 3;
    }
    .circle {
       width: 30px;
       height: 30px;
       border-radius: 50%;
       -moz-border-radius: 50%;
       -webkit-border-radius: 50%;
       font-size: 12px;
       font-weight: bold;
       color: #31cfda;
       text-align: center;
       display: table-cell;
       vertical-align: middle;
       background: white;
       z-index: 3;
     }
  }
}

#explanation {
  #label {
    margin-top: 50px;
    margin-bottom: 20px;
    .label-icon {
      padding: 34px 10px 34px 30px;
    }
    .text-container {
      padding: 23px 15px;
      .item-text {
        margin-top: 11px;
      }
    }
  }
  .container {
    .item {
      padding: 50px 25px;
      border: 17.5px solid $pale-grey-two;
      border-top: 10px solid $pale-grey-two;
      border-bottom: 10px solid $pale-grey-two;
      .item-icon {
        margin-bottom: 45px;
      }
      .item-text {
          margin: 20px auto;
      }
    }
  }

}

#robust-api {
  padding: 140px 200px 0;
  .title {
    margin: 50px 0;
  }
  .item-text {
    margin: 15px 0;
  }
  .gap-image {
    opacity: 0.9;
    text-align: center
  }
  .container {
    margin-top: 50px;
  }
  .half-circle {
      position: relative;
      margin: 0 auto;
      margin-top: -140px;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      transform: translate(0,134px);
      .icon {
        width: 64px;
        height: 75px;
        position: absolute;
        top: calc(50% - 38px);
        left: calc(50% - 32px);
      }
    }
}

#inn-products {
  padding-bottom: 70px;
  .header {
    position: relative;
    padding-top: 130px;
    margin-top: 60px;
  }
  .container {
    margin-top: 30px;
    text-align: center;
     .item {
       border: 20px solid $pale-grey-two;
       .item-icon {
         margin: 40px auto 38px auto;
         #third-icon {
           margin-top: -10px;
         }
         #fourth-icon {
           margin-top: 21px;
         }
       }
       .item-text {
         font-size: 14px;
         margin-bottom: 40px;
       }
     }
   }
}


#gap-insurance {
  position: relative;
  padding-top: 70px;
  .container{
    padding-left: 27.5px;
    ul {
      padding-left: 20px;
    }
    .item-title{
      margin-top: 30px;
      margin-bottom: 10px;
    }
    p {
      margin: 0 0 15px 0;
    }
    .content {
      clear: both;
      .item {
        margin: 10px 80px 10px 0;
        float: left;
        .item-icon{
          float: left;
          padding: 0;
          margin-right: 11px;
        }
        .item-text {
          font-size: 11px;
          text-align: left;
        }
      }
    }

    button {
      padding: 13px 20px;
    }

    .bitmap-icon {
      position: absolute;
      top: -25px;
      right: -62.5px;
    }
  }
}

#partners {
  padding: 70px 0 75px;
  .container {
    margin: 40px auto auto;
    .icon {
    }
  }
}

#subscribe {
  padding: 50px 0;
  font-size: 13px;
  .form {
    margin: 29px auto auto;
    input {
      border: solid 1px rgba(91, 114, 137, 0.2);
      padding: 12px 140px 13px 13px;
      float: left;
      color: rgba(91, 114, 137, 0.5)
    }
    button {
      padding: 10px 22px 10px;
    }
    button:hover {
      background-color: #2ec0cb;
    }
  }
}

footer {
  .container {
      margin: auto;
      padding: 60px 27.5px;
      font-size: 12px;
      .icon {
        margin-top: -10px;
        margin-right: 20px;
      }
      .item {
        ul {
          padding: 0;
          margin: 20px 0;
          li {
            list-style-type: none;
            margin-bottom: 15px
          }
        }
      }
    address {
       margin-left: 6%;
     }
  }
  .copyright {
    padding: 22px 100px;
    background-color: rgb(33, 102, 194);
    p{
      font-size: 10px;
    }
  }
}











//$font-family: 'Open Sans', sans-serif;
//$font-family: 'Ubuntu', sans-serif;
//$footer-height: 50px;
//
//*,
//*:before,
//*:after {
//  box-sizing: inherit;
//}
//
//
//html {
//  height: 100%;
//  box-sizing: border-box;
//  body {
//    position: relative;
//    margin: 0;
//    padding-bottom: $footer-height;
//    min-height: 100%;
//    line-height: 1.5;
//    font-family: $font-family;
//    font-weight: 400;
//    font-size: 16px;
//    color: #333;
//    background: $white;
//    text-rendering: optimizeLegibility;
//    -webkit-font-smoothing: antialiased;
//    .footer {
//      position: absolute;
//      right: 0;
//      bottom: 0;
//      left: 0;
//      text-align: center;
//    }
//  }
//}
