#subscribe {

    form {
        position: relative;
        input {
            border-radius: 3px 0 0 3px;
        }
    }

    .subscribe-form-message {
        display: none;
        position: absolute;
        left: 0;
        bottom: -30px;
        padding: 5px;
        width: 100%;
        font-size: 12px;
        color: white;
        background-color: rgb(244, 86, 106);
        box-sizing: border-box;
    }

    .subscribe-form-message--show {
        display: block;
    }

}

.dialog-window {
    button.close-button {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
    }
}
