@import '../../styles/varibles';

#header-gap-insurance {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $dark-sky-blue;
  background-image: url('../../images/OurProducts/GapInsurance/header-gap-insurance.png'), radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
  background-position: left bottom;
  background-repeat: no-repeat;
  overflow: hidden;

  .return-label {
    text-decoration: none;
    font-weight: 500;
    opacity: 0.5;
    font-size: 9px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: -15px;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;
  }

  .label {
    position: absolute;
    top: -40px;
    left: 0;
    opacity: 0.5;
    font-family: Roboto, sans-serif;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;

    i {
      margin-right: 3px;
      font-size: 12px;
      line-height: 9px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .logo-box {
    overflow: hidden;
    width: 100%;

    .logo {
      display: block;
      float: left;
      padding: 5px;
      margin: 0 -5px 50px 0;
      font-size: 13px;
      letter-spacing: 1.9px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
  }

  .block {
    padding-right: 75px;
    h1 {
      font-size: 24px;
      font-weight: 500;
    }

    h4 {
      font-family: Roboto, sans-serif;
      font-size: 16px;
      line-height: 22px;
      font-weight: 300;
      margin: 12px 0 24px;
      max-width: 385px;
    }

    button {
      padding: 13px 20px;
      margin-bottom: 28px;

      &:hover {
        background-color: #2ec0cb;
      }
    }

    .link {
      display: inline-block;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-decoration: underline;

      i {
        margin-left: 10px;
        font-size: 16px;
      }
    }
  }

  .screenshot-api {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    max-width: 550px;
  }
}

#gap-video {
  padding-top: 90px;
  padding-bottom: 210px;
  background: $turquoise url('../../images/OurProducts/GapInsurance/video.png') center / cover;
  background-position: bottom;

  .title {
    line-height: 31px;
    font-size: 26px;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    width: 300px;
  }

  .icon-play {
    margin-top: 58px;
    text-align: center;
  }
}

#gap-careAbout {
  padding-bottom: 40px;
  .title {
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .container {
    .left-item {
      margin-left: -20px;
      margin-right: 20px;
    }
    .right-item {
      margin-right: -20px;
      margin-left: 20px;
    }
    .item {
      position: relative;
      padding-left: 70px;
      margin-bottom: 50px;

      .icon {
        position: absolute;
        top: 0;
        left: 0;
      }

      h4 {
        font-size: 20px;
        line-height: 22px;
        font-weight: bold;
        margin-bottom: 14px;
        font-family: 'MuseoSans';
      }
      p {
        font-size: 13px;
      }
      .text {
        margin-left: -10px;
      }
    }
  }
}

#gap-fact-sheet {
  padding-bottom: 56px;
  padding-top: 90px;
  .container {
    .main-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 32px;
    }

    .sheet {
      position: relative;
      width: 100%;

      .clips {
        position: absolute;
        left: calc(50% - 17px);
        top: -55px;
        z-index: 3;

        &:before {
          position: absolute;
          display: block;
          bottom: 0;
          left: -16px;
          width: 85px;
          height:4px;
          border-radius: 2px;
          background: $dark-sky-blue;
          content: '';
        }
      }
    }

    .content-box {
      border-radius: 3px;
      margin-left: 30px;
      margin-right: 10px;
      padding: 35px 25px 25px 25px;
      display: block;
      position: absolute;
      left: 0;
      box-shadow: 1px 1px 15px rgba(49, 123, 218, .2);

      .content {
        padding: 25px 25px 26px 25px;

        .title {
          font-size: 20px;
          line-height: 22px;
          font-weight: bold;
          margin-bottom: 30px;
        }

        .advantages-list {
          padding-left: 35px;

          .item {
            position: relative;

            .icon {
              position: absolute;
              top: 0;
              left: -35px;
            }

            .text {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .descript-list {
    padding-right: 30px;

    .item {
      margin-bottom: 36px;

      .title {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.13;
        margin-bottom: 8px;
      }

      .text {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.33;
      }

      .subtitle {
        margin-top: 18px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.33;
      }
    }
  }
  background-image: radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
}

#gap-support {
  padding-top: 70px;

  .container {
    border: 1px solid $pale-grey;

    .info {
      float: left;
      padding: 50px;
      width: calc(100% - 350px);

      .title {
        font-size: 20px;
        line-height: 22px;
        font-weight: bold;
        margin-bottom: 30px;
      }

      .info-list {
        padding-left: 23px;
        padding-bottom: 10px;

        .item {
          position: relative;
          list-style: none;
          padding-top: 3px;
          padding-bottom: 12px;

          .icon {
            position: absolute;
            top: 0;
            left: -23px;

            i {
              color: #13d6de;
              font-size: 15px;
            }
          }
        }
      }
    }

    .files {
      float: left;
      padding: 70px 50px 71px 50px;
      width: 350px;
      border: 1px solid $pale-grey;
      background-color: $pale-grey-two;

      .subtitle {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 30px;
      }

      .item-paper {
        padding: 50px 25px 30px 25px;
        background-image: url('../../images/OurProducts/GapInsurance/paper.svg');
        background-repeat: no-repeat;
        background-size: 100%;

        .item-link {
          padding-left: 15px;
          padding-right: 15px;

          a {
            font-weight: 500;
            padding-right: 0;
          }

          .icon-pdf {
            display: inline-block;
            float: left;
            margin-bottom: 20px;
          }

          .icon-phonelink {
            display: inline-block;
            margin-bottom: 20px;
          }

          .link-text {
            a {
              margin-left: 0;
            }
            
            display: inline-block;
            padding-top: 5px;
            padding-left: 15px;
          }
        }
      }
    }

    .read-carefully {
      padding-left: 15px;
      padding-right: 40px;
      margin-top: 10px;
      font-family: Roboto, sans-serif;
      font-size: 10px;
      line-height: 18px;
      font-style: italic;
      font-weight: 300;
    }
  }
}

#gap-case {
  padding-top: 0;
  overflow: hidden;

  .title {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .container {
    .contacts {
      margin-left: 35px;
      padding: 32px 30px 22px 30px;
      background-image: radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
      border-radius: 3px;

      .title {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 8px;
        font-weight: 500;
        b {
          font-weight: bold;
        }
      }
      .subtitle {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .icon {
        float: left;
        margin-right: 18px;
        margin-bottom: 20px;
      }
      .text {
        margin-right: -20px;
        margin-bottom: 15px;
        margin-top: 4px;
      }

    }
    .text-container {
      margin-left: 20px;
      padding-right: 35px;
      margin-bottom: -20px;
      .text {
        margin-bottom: 20px;
      }
    }
  }
}

#gap-partners {
  background-color: $grey;
  padding-top: 35px;
  padding-bottom: 35px;
  .title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-right: 70px;
    float: left;
  }
  .content {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .icon {
    float: left;
    margin-top: -16px;
    margin-left: 48px;
    &:last-child {
      margin-top: -9px;
    }
  }
}


@media screen and (max-width: 992px) {
  #header-gap-insurance {
    padding: 90px 10px;
    padding-top: 120px;
    .hide {
      display: none;
    }
    .container {
      a {
        margin-right: 0;
      }
    }
    .logo-box {
      .logo {
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 1.6px;
        margin: 0 -5px 20px 0;
      }
    }
    .block {
        a {
          margin-right: 20px;
        }
    }
  }


  #gap-careAbout {
    .container {
      .item {
        margin: 0 0 20px;
      }
    }
  }

  #gap-fact-sheet {
    
    .container {
      .sheet {
        .clips {
          top: 0;
        }
      }

      .content-box {
        position: relative;
        margin: 50px 15px 0;
      }
    }
  }


  #gap-support {
    padding-bottom: 0;

    .container {
      .info {
        width: 100%;
        padding-bottom: 80px;
      }
      .files {
        width: 100%;
        position: relative;
        padding: 140px 50px;
        .item-paper {
          margin: 0 auto;
          width: 250px;
          position: absolute;
          top: -31px;
          left: calc(50% - 125px);
        }
      }
    }
  }

  #gap-case {
    padding-top: 80px;
    .container {
      .contacts {
        margin: 0 0 30px;
      }
    }
  }

  #gap-partners {
    .title {
      float: left;
      margin-bottom: 30px;
      width: 100%;
      text-align: center;
    }
    .icon {
      float: left;
      margin: 0;
      width: 20%;
      text-align: center;
      &:last-child {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #header-gap-insurance {
    background-image:  url('../../images/HomePage/homepage-bg.png'), radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
    background-size: cover;
    background-position: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 80px;
    padding-bottom: 0;
    .container {
      .picture {
        margin-left: -15px;
        margin-right: -15px;
        img {
          width: 100%;
        }
      }
      .display {
        display: block !important;
      }
      .link {
        margin: 15px 0 25px;
      }
    }
    .screenshot-api {
      display: none;
    }
  }
}



@media screen and (max-width: $break-mobile) {

  #header-gap-insurance {
    background-image:  url('../../images/HomePage/homepage-bg.png'), radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
    background-size: cover;
    background-position: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 80px;
    padding-bottom: 0;


    .picture {
      margin-left: -15px;
      margin-right: -15px;
      img {
        width: 100%;
      }
    }
    .block {
      padding-right: 0;
      h1 {
        font-size: 18px;
      }
      h4 {
        margin-top: 20px;
        margin-bottom: 15px;
      }
      .link {
        margin: 15px 0 25px;
      }

    }
  }

  #gap-careAbout {
    padding-left: 20px;
    padding-right: 20px;

    & > .title {
      font-size: 28px;
      line-height: 1.3;
      padding: 0;
      margin-top: 0;
      margin-bottom: 30px;
    }

    .container {
      .item {
        .icon {
          top: -10px;
          width: auto;
          height: 35px;
        }

        .text {
          h4 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
          }

          p {
            display: none; 
          }
        }
      }
    }
  }

  #gap-fact-sheet {
    padding-top: 50px;
    padding-bottom: 0;
    
    .container {
      .content-box {
        position: relative;
        margin: 0;
        padding: 35px 10px 13px 10px;
        border-radius: 0;
        box-shadow: 1px 1px 15px 0 $pale-grey;
  
        .content {
          padding: 30px;
          background-color: rgb(247, 247, 247);
          box-shadow: inset 0 1px 1px 0 rgba(91, 114, 137, 0.1);
          border: solid 1px $pale-grey;

          .title {
            font-size: 16px;
          }
  
          .item {
            margin-bottom: 15px;

            .text {
              font-style: 13px;
              line-height: 18px;
            }
          }
        }

      }
      .sheet {
         .clips {
           top: -55px;
           left: calc(50% - 26px);
           &:before {
             background: $pale-grey;
             height: 5px;
           }
         }
       }
    }

    .descript-list {
      margin-bottom: 70px;
      padding-right: 0;

      .item {
        &:last-child {
          margin-bottom: 0
        }

        .text {
          // font-size: 15px;  
        }
      }
    }
  }

  #gap-support {
    padding: 0;
    padding-top: 50px;

    .container {
      border: none;

      .info {
        width: 100%;
        padding: 20px;
        padding-bottom: 80px;

        .title {
          font-size: 16px;
        }
      }

      .files {
        padding: 140px 35px;
      }

      .read-carefully {
        padding: 0;
        letter-spacing: -0.1px;
        line-height: 1.6;
      }
    }
  }

  #gap-case {
    padding-top: 80px;
    overflow: hidden;
  
    .title {
      font-size: 20px;
      line-height: 20px;
      font-weight: bold;
      margin-bottom: 50px;
    }
    
    .container {
      .contacts {
        margin-left: 35px;
        padding: 32px 30px 22px 30px;
        background-image: radial-gradient(circle at -6% -9%, $dark-sky-blue, #43c8cd);
        border-radius: 3px;
  
        .title {
          font-family: Roboto, sans-serif;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 8px;
          font-weight: 500;
          b {
            font-weight: bold;
          }
        }
        .subtitle {
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        .icon {
          float: left;
          margin-right: 18px;
          margin-bottom: 20px;
        }
        .text {
          margin-right: -20px;
          margin-bottom: 15px;
          margin-top: 4px;
        }
  
      }
      .text-container {
        margin-left: 20px;
        padding-right: 35px;
        margin-bottom: -20px;
        .text {
          margin-bottom: 20px;
        }
      }
    }
  }
  #gap-partners {
     .content {
       .icons {
         max-width: 100%;
         height: 51px;
         margin-left: -5px;
         .icon {
           width: 20%;
           padding: 0 15px;
           &:last-child {
             margin: 0;
           }
           img {
             width: auto;
             height: 30px;
           }
         }
       }
     }
   }
}

