body {
    margin: 0;
}

.header {
    margin: 0;
    padding-right: 100px;
    height: 30px;
    background-color: #317bda;
    opacity: 0.72;
}

.label {
    float: right;
    margin: 10px 5px;
    color: white;
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 9px;
}

#center-label {
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 10px 2.5px;
    padding: 0 7px;
}

nav {
    margin-left: 30%;
}

.navigation {
    height: 60px;
    background-color: #317bda;
    border-bottom: 1px solid #f7f7f7;
    /*background-clip: border-box;*/
}

.navigation ul li{
    list-style-type: none;
}

.navigation ul {
    margin-left: 0;
    padding-left: 0;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-family: Roboto, serif;
    font-weight: 500;
}

.navigation a:hover {
    background-color: #50ceff;
}

.nav-links {
    padding: 24px 25px;
    float: left;
    font-size: 10px;
}

.nav-buttons {
    float: right;
    margin: 15px 90px 15px 0;
}

.nav-buttons button {
    padding: 9px 10px;
    font-family: Roboto, serif;
    font-size: 11px;
    color: blue;
    background-color: white;
    border: none;
    border-radius: 2px;
}

.nav-buttons .nav-button-login {
    color: white;
    background-color: #6AA0E4;
}

.navLogo {
    float: left;
    margin: 18px 0 18px 100px;
}

.content {
    height: 450px;
    background-color: #317bda;
    color: white;
    font-weight: 500;
    font-family: MuseoSans;
    padding-left: 10%;
}

.content h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 50px;
}

.content .icon {
    padding-top: 30px;
    padding-bottom: 26px;
    margin-bottom: 35px;
}

.content .icon img{
    float: right;
    margin-right: 100px;
}

.content button {
    background-color: #31cfda;
    padding: 13px 20px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
}

.disclaimer {
    height: 50px;
    background-color: #f5f7f9;
    font-family: Roboto, serif;
    font-size: 12px;
}

.disclaimer p {
    margin: 0;
    padding: 18px 0;
    text-align: center;
    border-bottom: 1px solid #eaeff3;;
}

.advantages{
    height: 565px;
    background-color: white;
    text-align: center;
}

.advantages h2 {
    font-size: 36px;
    color: #317bda;
    margin: 70px auto 10px auto;
}

.advantages h3 {
    font-weight: 300;
    font-size: 26px;
    color: #5b7289;
    margin: 0;
}

.advantages .container {
    padding: 80px 0 0 7%;
    font-family: Roboto;
}

.advantages .item {
    /*width: 26%; !* width: 270px;*!*/
    text-align: left;
    float: left;
    margin: 0 5% 20px 5%;
}

.advantages .icon {
    margin-bottom: 30px;
}

.advantages h4 {
    font-size: 20px;
    color: #317bda;
    margin:  0 0 11px 0;
}

.advantages p {
    font-size: 13px;
    color: #5b7289;
    margin: 0;
    padding: 0;
}

.image {
    text-align: center;
    background-color: #5b7289;
}

#get-started {
    padding: 90px 0 0 100px;
    height: 600px;
}

#get-started .main-container {
     position: absolute;
 }


#get-started h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

#get-started .container{
    padding-left: 40px;
    padding-top: 50px;
}

#get-started .item {
    margin-bottom: 25px;
}

#get-started .title {
    font-size: 20px;
    margin-bottom: 8px;
}

#explanation {
    background-color: #f5f7f9;
    padding-top: 90px;
}

#explanation h2 {
    margin-top: 0;
}

#explanation h3 {
    color: #317bda;
}

#icon-lead {
    margin: 5px 0;
}

#explanation .item {
    height: 295px;
    width: 260px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    padding: 45px 25px 0 25px;
    margin: 0 22px 22px;
}

#explanation .item p{
    margin-bottom: 20px;
}


.circle-container1 {
    position: absolute;
    top: 88px;
    left: 0;
}

.circle-container2 {
    position: absolute;
    top: 179px;
    left: 0;
}

.circle-container3 {
    position: absolute;
    left: 0;
    bottom: 132px;
}

.circle-container4 {
    position: absolute;
    left: 0;
    bottom: 25px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 12px;
    font-family: Roboto;
    font-weight: bold;
    color: #31cfda;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: white;
}
