body {
    margin: 0;
}

.header {
    margin: 0;
    height: 60px;
    background-color: #5EA2DF;
}

.label {
    float: right;
    margin: 20px 10px;
    color: white;
    font-weight: 500;
}

#centerLabel {
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 20px 5px;
    padding: 0 14px;
}

#container {
    margin-right: 200px;
}
