.mob-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  background-color: #fff;
  border-radius: 3px;
  color: #000;
  box-shadow: 0 5px 10px 0 rgba(91, 114, 137, 0.6);
  margin: 10px 10px 0 10px;

  .subnav {
    margin-left: 30px;
  }

  .close-button {
    float: right;
    margin: 13px 13px 0 0;
    img {
      cursor: pointer;
    }
  }

  .mobile-logo {
    width: 84px;
    height: 22px;
    margin: 30px 0 30px 30px;
  }

  .bg-pale-grey-two {
    background-color: transparent;
  }

  .link-block {
    background-color: #f5f7f9;
    padding-top: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .link-list {
    margin: 0 0 0 30px;
    padding: 0;

    li {
      list-style: none;
      padding-bottom: 20px;

      a {
        font-size: 11px;
        font-weight: 500;
        color: #5b7289;
        text-decoration: none;
      }
    }
  }

  .nav-list {
    margin-left: 30px;
    padding: 0;

    li {
      letter-spacing: 0.9px;
      text-transform: uppercase;
      list-style: none;
      margin: 20px 0;

      span {
        font-size: 11px;
        color: #317bda;
        text-decoration: none;
        font-weight: 400;
      }

      a {
        font-size: 11px;
        color: #317bda;
        text-decoration: none;
        font-weight: 400;
        &.selected span {
          font-weight: bold;
          color: #31cfda;
        }
      }

      ul {
        padding-left: 0;
      }

      .fa-angle-down {
        margin-left: 10px;
      }
    }
  }

  .subnav {
    .item {
      .active span {
        font-weight: bold;
        color: #31cfda;
      }
    }
  }
}
