.email-form {
  .title-forgot {
    text-align: left;
    color: #317bda;
    font-size: 18px;
    margin-top: 15px;
  }

  .btn.reset-button {
    margin-top: 15px;
    background-color: #317bda;
    color: white;
  }
}
